@import './reset.css';
@import 'https://fonts.googleapis.com/css?family=Varela+Round&display=swap';

@media (min-width: 1024px) {
  html {
    font-size: 10.24px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  html {
    font-size: 1vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 7.67px;
  }
}

body {
  font-family: 'Varela Round', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

.header {
  position: relative;
  width: 100vw;
  height: 49vw;
  color: white;
  background-image: url('./resource/main.jpg');
  background-size: cover;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.main-nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 7vw;
  line-height: 7vw;
  padding: 1vw;
}
.main-nav__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  height: 100%;
  margin: 0 2vw;
}
.main-nav__item {
  float: left;
  height: 100%;
  margin: 0 3vw;
  cursor: pointer;
}
.main-nav__item--logo {
  height: 6rem;
  width: auto;
  margin: 0 5vw;
  content: url('./resource/camera.svg');
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
}
.title__main {
  font-size: 3.5rem;
}
.title__content {
  text-transform: lowercase;
  margin: 1vw 0;
}
.title__btn {
  all: unset;
  width: 15rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: #16a085;
  margin: 1vw 0;
  cursor: pointer;
}
.icon-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.icon-nav__item {
  float: left;
  margin: 1vw;
  cursor: pointer;
}
.icon-nav__icon {
  width: 2rem;
  height: 2rem;
}

.intro-part {
  position: relative;
  background-color: #f5f6f7;
  height: 30vw;
}
.intro-part__box {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 24vw;
  transform: translateY(-50%);
}
.intro-part__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #30aa92;
  font-weight: bold;
}
.intro-part__content {
  font-size: 1rem;
  line-height: 1.5vw;
  margin: 2vw 0;
}
.intro-part__btn {
  all: unset;
  width: 15rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: #16a085;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.intro-part__img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 25vw;
  width: auto;
  content: url('./resource/intro.png');
}

.design-part {
  position: relative;
  background-color: white;
  height: 30vw;
}
.design-part__img {
  position: absolute;
  left: 10%;
  bottom: 0;
  height: 25vw;
  width: auto;
  content: url('./resource/design.PNG');
}
.design-part__box {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 24vw;
  transform: translateY(-50%);
}
.design-part__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #30aa92;
  font-weight: bold;
}
.design-part__content {
  font-size: 1rem;
  line-height: 1.5vw;
  margin: 2vw 0;
}
.design-part__btn {
  all: unset;
  width: 15rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: #16a085;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 2vw;
}
.design-part__present {
  font-size: 1rem;
}
.design-part__control {
  all: unset;
  margin-right: 0.5vw;
  font-weight: bold;
  cursor: pointer;
}

.community-part {
  position: relative;
  background-color: #f5f6f7;
  height: 30vw;
}
.community-part__box {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 15vw;
  transform: translateY(-50%);
  text-align: center;
}
.community-part__logo {
  content: url('./resource/camera.svg');
  width: 5vw;
  height: 5vw;
}
.community-part__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  margin: 2vw 0;
}
.community-part__content {
  font-size: 1rem;
  line-height: 1.5vw;
}
.community-part__photo-box {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.community-part__control-box {
  text-align: right;
}
.community-part__control {
  all: unset;
  margin-right: 0.5vw;
  font-weight: bold;
  cursor: pointer;
}
.community-part__image {
  height: 15vw;
  width: auto;
  margin: 0.5vw;
  cursor: pointer;
}

.subscribe-part {
  position: relative;
  background-image: url('./resource/subscribe.jpg');
  background-size: cover;
  height: 49vw;
}
.subscribe-part__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.subscribe-part__title {
  color: white;
  font-size: 2rem;
  margin-bottom: 1vw;
  text-transform: uppercase;
}
.subscribe-part__form {
  position: relative;
  width: 20rem;
  margin: 0 auto;
}
.subscribe-part__email {
  all: unset;
  text-align: left;
  background-color: white;
  padding-left: 1rem;
  height: 3rem;
  width: 19rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.subscribe-part__btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #16a085;
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  margin-left: -1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}

.download-part {
  position: relative;
  background-color: #f5f6f7;
  height: 30vw;
  text-align: center;
  text-transform: uppercase;
}
.download-part__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.download-part__title {
  font-size: 2rem;
}
.download-part__content {
  font-size: 1.2rem;
  margin-top: 1vw;
  margin-bottom: 3vw;
}
.download-part__btn {
  all: unset;
  width: 20rem;
  height: 4rem;
  line-height: 4rem;
  background-color: #1abc9c;
  color: white;
  text-align: left;
  padding-left: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.download-part__icon {
  background-color: #16a085;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  float: right;
  border-radius: 0 0.5rem 0.5rem 0;
}

.footer {
  position: relative;
  height: 10vw;
  font-size: 1rem;
}
.info {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.info__item {
  display: inline-block;
  cursor: pointer;
  padding: 0 1vw;
  border-right: 1px solid gray;
  text-transform: uppercase;
}
.info__item:nth-last-of-type(1) {
  border-right: 0px solid gray;
}
.info__copyright {
  padding: 0 1vw;
  margin-top: 1vw;
}
.footer__logo {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  content: url('./resource/camera.svg');
  width: 5vw;
  height: 5vw;
}
